.StringsContainer{
    height: 100px;
    width: 260px;
    overflow-y: auto;
    border: 1px solid #867f7f;
    margin-top: 10px;
}

.ClearButton{
    margin-left:5px;
}

.SearchField{
    width: 220px;
}