.ProductAddEdit .PrParam
{
    vertical-align: top;
}

.ProductAddEdit .PrParam div
{
    display: inline-block;
}

.ProductAddEdit .PrParam .PrKey
{
    width: 90px;
}

.ProductAddEdit .PrParam .PrValid
{
    color: red;
    padding-left: 5px;
}


.ProductAddEdit .SaveButton
{
    margin-right: 8px;
}