
.header__cart .fa-shopping-cart {
    color: black;
    font-size: 36px;
    position: relative;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.cart-qty {
    position: absolute;
    top: 0px;
    right: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #0d897f;
    color: white;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.header__cart-link:hover .fa-shopping-cart{
  color: #0d897f;
}

.header__cart-link:hover .cart-qty{
    background-color: #000;
  }

  
@media (max-width: 1100px) {
    
  .header__cart .fa-shopping-cart {
      font-size: 30px;
  }
}

@media (max-width: 340px) { 
  .header__cart .fa-shopping-cart {
      font-size: 20px;
  }
  .cart-qty {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 15px;
      height: 15px;
      line-height: 15px;
      font-size: 10px;
  }
}