.MobileClient
{
  padding: 2px 0;
}

/*.MobileClient .Str
{
  padding: 5px 7px;
}*/

/*.MobileClient .Str
{
  padding: 5px 7px;
}*/

.MobileCompanyClients thead tr td
{
  font-weight: bold;
}

.MobileClientBalance
{
  /*width: 30px;*/
  font-weight: bold;
  /*text-align: right;
  padding: 5px 7px;*/
}

span.MobileClientFIO
{
  margin-right: 30px;
}

.MobileClientBalanceActive 
{
  background-color: green;
}

.MobileClientBalanceBlocked
{
  background-color: red;
}